<html>

<head>
    <title>新闻管理:添加</title>
    <script src="__STYLE__/js/jquery.min.js"></script>
    <script src="__STYLE__/js/bootstrap.min.js"></script>
    <link href="__STYLE__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STYLE__/css/admin.css" rel="stylesheet">
    <link href="__STYLE__/css/wangEditor.min.css" rel="stylesheet">
    <script type="text/javascript" src='__STYLE__/js/wangEditor.min.js'></script>
    <script src="__STYLE__/js/active.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">爱影视系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <include file="./Application/Admin/Common/nav.html" />
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <include file="./Application/Admin/Common/sidebar.html" />
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <p class="pull-right" style="margin-top: 20px;">
                    <a class="btn btn-primary" href="__ROOT__/admin/movie">返回</a>
                </p>
                <h2 class="sub-header">影片管理:添加影片</h2>
                <form class="form-horizontal" action="__ROOT__/admin/movie/add_process" method="post" enctype="multipart/form-data" autocomplete="off">

                    <!-- 文本框-->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">题目</label>
                        <div class="col-md-8">
                            <input id="uid" name="uid" type="hidden" value="0" required />
                            <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required />
                        </div>
                    </div>

                    <!-- 频道分类 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="type">所属分类</label>
                        <div class="col-md-8">
                            <select name="typeid" class="form-control" required>
                                <option selected disabled value="">请选择...</option>
                                <volist name="clist" id="item">
                                    <option value="{$item.id}">{$item.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <!-- 文件按钮 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="pic">封面</label>
                        <div class="col-md-8">
                            <span class="help-block">支持常见图片格式(.jpg,.png,.jpeg)，最大上传：1M</span>
                            <input id="pic" name="pic" class="input-file" type="file" accept="image/*" required />
                        </div>
                    </div>

                    <!-- 文件按钮 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="videosource">视频</label>
                        <div class="col-md-8">
                            <span class="help-block">支持常见图片格式(.jpg,.png,.jpeg)，最大上传：10M</span>
                            <input id="videosource" name="videosource" class="input-file" type="file" accept="video/*" required />
                        </div>
                    </div>

                    <!-- 文本域 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="description">描述</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="description" name="description" rows="10"></textarea>
                            <span class="text-block">该项为可选项，若不填则展示正文前30字</span>
                        </div>
                    </div>

                    <!-- 文本域 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="content">内容</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="content" name="content" rows="20" placeholder="在此输入内容" required></textarea>
                        </div>
                    </div>

                    <!-- 双按钮 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="">操作</label>
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary">提交</button>
                            <button type="reset" class="btn btn-default">清空</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--add some files-->
  <script type="text/javascript">
    $(function () {
      var editor = new wangEditor('content');
      editor.config.menus = [
        'source',
        '|', // '|' 是菜单组的分割线
        'bold',
        'underline',
        'italic',
        'strikethrough',
        'eraser',
        'forecolor',
        'quote',
        'fontfamily',
        'fontsize',
        'head',
        'unorderlist',
        'orderlist',
        'alignleft',
        'aligncenter',
        'alignright',
        '|',
        'link',
        'unlink',
        'table',
        'img',
        '|',
        'undo',
        'redo',
        'fullscreen'
      ];
      // 配置上传图片接口
      editor.config.uploadImgUrl = '__APP__/Admin/Form/upload';
      editor.config.uploadImgFileName = 'img';
      // 设置 headers（举例）
      editor.config.uploadHeaders = {
        'Accept': 'text/x-json'
      };
      editor.config.emotionsShow = 'value';
      wangEditor.config.printLog = false;

      editor.create();
      // 重置按钮被点击时
      $('#reset').on('click', function (e) {
        editor.$txt.html('<p><br></p>');
      });
    });
  </script>
</body>

</html>