<html>

<head>
    <title>爱影视::我的微空间</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="__STYLE__/js/jquery.min.js"></script>
    <script src="__STYLE__/js/bootstrap.min.js"></script>
    <link href="__STYLE__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STYLE__/css/animate.min.css" rel="stylesheet">
    <link href="__STYLE__/css/style.css" rel="stylesheet">
</head>

<body class="content">

    <include file="Public:header" />
    <div class="container ">
        <div class="row clearfix margin1">
            <div class="col-xs-12 column">
                <legend class="text-center">我的主页</legend>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-4 column">
                <!-- 表单名称 -->

                <div class="panel panel-default">
                    <div class="panel-content padding1">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object img-circle" src="__PUBLIC__/{$Think.session.uimg}" width="64px" alt="{$Think.session.username}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">{$Think.session.username}</h3>
                                <a href="__ROOT__/Home/Form/manage" class="btn btn-info btn-block">修改个人信息</a>
                                <a href="__ROOT__/Home/Form/movie_add" class="btn btn-igreen btn-block">提交新素材</a>
                                <a href="__ROOT__/Home/Form/forum_add" class="btn btn-igreen btn-block">发表新帖子</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 column">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" <eq name="id" value="1">class="active"</eq>>
                        <a href="__URL__/ucenter">我的素材</a>
                    </li>
                    <li role="presentation" <eq name="id" value="2">class="active"</eq>>
                        <a href="__URL__/ucenter?id=2">我的收藏</a>
                    </li>
                    <li role="presentation" <eq name="id" value="4">class="active"</eq>>
                        <a href="__URL__/ucenter?id=4">我的帖子</a>
                    </li>
                    <li role="presentation" <eq name="id" value="3">class="active"</eq>>
                        <a href="__URL__/ucenter?id=3">我的评论</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="list">
                        <div class="panel panel-default">
                            <!-- List group -->
                            <div class="list-group">
                                <switch name="id">
                                    <case value="2">
                                        <!-- 收藏列表 -->
                                        <volist name="mlist" id="item" empty="$empty">
                                            <div class="list-group-item">
                                                <div class="row clearfix">
                                                    <div class="col-sm-4">
                                                        <img class="img-responsive center-block" src="__STYLE__/{$item.mpic}" />
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <a href="__ROOT__/home/movie/detail?id={$item.mid}" title="查看">
                                                            <h3 class="media-heading">{$item.mname}</h3>
                                                        </a>

                                                        <br />
                                                        <a href="__ROOT__/Home/Form/fdelete?id={$item.id}" class="btn btn-danger">取消收藏</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </volist>
                                    </case>
                                    <case value="4">
                                        <!-- 帖子列表 -->
                                        <volist name="mlist" id="item" empty="$empty">
                                            <div class="list-group-item">
                                                <div class="row clearfix">
                                                    <div class="col-sm-8">
                                                        <a href="__ROOT__/home/forum/detail?id={$item.id}" title="查看">
                                                            <h3 class="media-heading">{$item.title}</h3>
                                                        </a>

                                                        <br />
                                                        <a href="__ROOT__/Home/Form/forum_change?id={$item.id}" class="btn btn-igreen">修改</a>
                                                        <a href="__ROOT__/Home/Form/forum_delete?id={$item.id}" class="btn btn-danger">删除</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </volist>
                                    </case>
                                    <case value="3">
                                        <!-- 评论列表 -->
                                        <volist name="mlist" id="item" empty="$empty">
                                            <blockquote>
                                                <p>{$item.content}</p>
                                                <footer>{$item.uname} 于
                                                    <a href="__ROOT__/home/movie/detail?id={$item.mid}">
                                                        <cite title="{$item.mname}">{$item.mname}</cite>
                                                    </a>
                                                </footer>
                                            </blockquote>
                                            <a href="__ROOT__/Home/Form/cdelete?id={$item.id}" class="btn btn-success btn-block">删除</a>

                                        </volist>
                                    </case>
                                    <default />
                                    <!-- 稿件列表 -->
                                    <volist name="mlist" id="item" empty="$empty">
                                        <eq name="item['pass']" value="0">
                                            <!-- 审核中 -->
                                            <div class="list-group-item">
                                                <div class="row clearfix">
                                                    <div class="col-sm-4">
                                                        <img class="img-responsive center-block" src="__STYLE__/{$item.pic}" />
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <a href="__ROOT__/home/form/movie_preview?id={$item.id}" title="预览">
                                                            <h3 class="media-heading">
                                                                <span class="label label-info">审核中</span>{$item.name}</h3>
                                                        </a>
                                                        <empty name="item['description']">
                                                            {$item.content|htmlspecialchars|msubstr=###,0,30,'utf-8',false}
                                                            <else /> {$item.description}
                                                        </empty>
                                                        <br />
                                                        <a href="__ROOT__/Home/Form/movie_change?id={$item.id}" class="btn btn-primary">修改</a>
                                                        <a href="__ROOT__/Home/Form/movie_delete?id={$item.id}" class="btn btn-danger">删除</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <else/>
                                            <!-- 已发布 -->

                                            <div class="list-group-item">
                                                <div class="row clearfix">
                                                    <div class="col-sm-4">
                                                        <img class="img-responsive center-block" src="__STYLE__/{$item.pic}" />
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <a href="__ROOT__/home/movie/detail?id={$item.id}" title="查看">
                                                            <h3 class="media-heading">
                                                                <span class="label label-primary">已发布</span>{$item.name}</h3>
                                                        </a>
                                                        <empty name="item['description']">
                                                            {$item.content|htmlspecialchars|msubstr=###,0,30,'utf-8',false}
                                                            <else /> {$item.description}
                                                        </empty>
                                                        <br />
                                                        <a href="__ROOT__/Home/Form/movie_change?id={$item.id}" class="btn btn-primary">修改</a>
                                                        <a href="__ROOT__/Home/Form/movie_delete?id={$item.id}" class="btn btn-danger">删除</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </eq>
                                    </volist>
                                </switch>
                            </div>
                            <empty name="page">
                                <else />
                                <div class="panel-footer">
                                    <div class="pages">
                                        {$page}
                                    </div>
                                </div>
                            </empty>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <include file="Public:footer" />
</body>

</html>