<if condition="isset($_SESSION['username'])">
    <gt name="isvote" value="0">
        <p class='text-center'>感谢您的参与！</p>
        <else/>
        <form class='form-horizontal' method='POST' action='__ROOT__/home/form/addvote'>
            <fieldset>
                <input type='hidden' id='rid' class='form-control' name='rid' value='{$Think.get.id}'>
                <input type='hidden' id='type' class='form-control' name='type' value='{$Think.CONTROLLER_NAME}'>
                <input type='hidden' id='uid' class='form-control' name='uid' value='{$Think.session.uid}'>
                <input type='hidden' id='num' class='form-control' name='num' value='1'>
                <input id='singlebutton' type='submit' class='btn btn-success' value='点赞'>
                </div>
            </fieldset>
        </form>
    </gt>

    <else />
    <p class='text-center'>请登录后进行点赞！</p>
</if>